@use '../vars';

.info-bar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    background-color: vars.$white;
    border-radius: 8px;
    box-shadow: 0 -4px 40px 0 rgba(0, 0, 0, 0.2);

    &__list {
        display: flex;
        gap: 40px;

        &__item {
            font-size: 18px;
            letter-spacing: 0.09em;
            color: vars.$terciary-txt-color;
            
            b {
                display: block;
                color: vars.$terciary-txt-color;
                font-size: 24px;
                margin-bottom: 6px;
                border-bottom: 1px solid vars.$yellow;
            }
        }
    }

    @media(max-width: 640px) {
        display: block;

        &__list {
            display: block;
            text-align: center;

            &__item {
                font-size: 16px;
                margin-bottom: 18px;

                b {
                    font-size: 20px;
                }
            }
        }
    }

    @media(max-width: 1024px) {
        &__list {
            gap: 16px;
        }
    }
}