@use '../vars';

.hero {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    padding-top: 64px;
    padding-bottom: 64px;
    position: relative;

    .container {
        position: relative;
    }

    &__logo {
        display: block;
        height: 80px;
        border: 1px vars.$white solid;
        border-radius: 100%;
        margin: 0 auto;
    }

    &__text {
        font-size: 40px;
        font-weight: 700;
        line-height: 56px;
        text-align: center;
        margin-top: 64px;
        margin-bottom: 64px;
    }

    @media(max-width: 640px) {
        padding: 40px 0;

        &__logo {
            height: 40px;
        }

        &__text {
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0;
        }
    }
}