$white: #FFFFFFFF;
$yellow: #FFEDA8;
$black: #000000;
$orange1: #F3A100;
$orange2: #F16B05;
$orange3: #C61304;
$red: #B60017;
$pink: #89223B;


$main-txt-color: #FFFFFFFF;
$secondary-txt-color: #000000;
$terciary-txt-color: #F3A100;